#!/bin/bash

{% if apt.update %}
    apt-get update
{% endif %}

{% if apt.upgrade %}
    apt-get -y upgrade
{% endif %}

{% for network_interface in network.interfaces %}
    # setup network interface {{ network_interface.name }}
    {{ network_interface.creation_steps | join("\n") }}
{% endfor %}

{{ script.firstboot.additional_steps | join("\n") }}

# self-cleanup
systemctl disable firstboot.service
{% if not debug %}
    rm -f /etc/systemd/system/firstboot.service
    rm -f {{ script.firstboot.location }}
{% else %}
    mkdir -p /root/.debug
    mv /etc/systemd/system/firstboot.service {{ script.firstboot.location }} /root/.debug
{% endif %}
